@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #699ad1;
    --second-bg-color: #141414bb;
    --text-color: #fff;
    --main-color: #4253b6;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background-color: rgb(97, 94, 94);
}

html::-webkit-scrollbar-thumb {
    background: rgb(105, 130, 211);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.685);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.795);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800px;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.3);
}

.underlogo {
    position: fixed;
    left: 15px;
    bottom: 7px;
    width: 80px;
    height: auto;
}

.logo-container {
    position: fixed;
    left: 2.5px;
    bottom: 2.5px;
    width: 100px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 185% 10% 185% 10%;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-style: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media (max-width:995px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
    position: relative;
    z-index: 0;
}

.welcome .welcome-content {
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

span {
    color: #c961c0;
}

.welcome-content h3 {
    font-size: 10rem;
    margin-bottom: 1rem;
    font-weight: 700;
    padding-bottom: 50px;
}

.tl {
    font-size: 4rem;
}

.welcome-img {
    border-radius: 50%;
}

.welcome-img img {
    position: relative;
    width: 24vw;
    border-radius: 50%;
    border: 0.5rem solid rgb(104, 102, 190);
    cursor: pointer;
    transition: 0.25s ease;
}

.welcome-img img:hover {
    transform: scale(1.12);
    filter: drop-shadow(0 0 25px var(--main-color));
    box-shadow: -20px 25px 55px rgb(58, 52, 110);
}

.welcome-content p {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon {
    padding: 25px 0 25px 0;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background: transparent;
    border: 0.4rem solid rgb(197, 173, 131);
    font-size: 4rem;
    border-radius: 25%;
    color: rgb(238, 210, 158);
    transition: 0.3s ease;
}

.babu {
    border-radius: 25%;
}

.social-icon a:hover {
    color: rgb(236, 200, 133);
    transform: scale(1.5)translatey(-5px);
    background: rgb(139, 119, 81);
    box-shadow: 1.2px 1px 15px rgb(223, 207, 177);
}

/* Footer設定 */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: gray;
    height: 6.5vw;
    position: relative;
    z-index: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: rgb(74, 61, 189);
    border-bottom: 3px solid transparent;
    transition: 0.4s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid rgb(69, 73, 80);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer {
    background-color: gray;
    height: 8vw;
    position: relative;
    z-index: 1;
}

footer .cp {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: black;
}

/* 進入主頁區塊 */
.etr {
    display: block;
    padding: 1rem 2.8rem;
    margin: 0 auto;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 5rem;
    color: var(--main-color);
    border: 5px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.etr:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}

/* 打字動畫區塊 */
.typing-text {
    font-size: 36px;
    font-weight: 600px;
    min-width: 280px;
    min-height: 50px;
    line-height: 1.2;
}


.typing-text span {
    position: relative;
    display: inline-block;
}

.typing-text span::before {
    content: 'NiHao!';
    color: var(--main-color);
    animation: words 20s infinite;
    white-space: nowrap;
    /* Prevents text from wrapping */
}

.typing-text span::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--main-color);
    right: -8px;
    animation: typing 20s infinite, cursor 4s infinite;
}

/* 各類動畫 */

@keyframes cursor {
    from {
        opacity: 1;
    }

    25%,
    50% {
        border-left: 10px solid var(--main-color);
        opacity: 0.75;
    }

    55%,
    to {
        opacity: 1;
    }
}

@keyframes words {

    0%,
    20% {
        content: 'NiHao!';
    }

    21%,
    40% {
        content: '你好!';
    }

    41%,
    60% {
        content: 'Hello!';
    }

    61%,
    80% {
        content: 'Bonjour!';
    }

    81%,
    100% {
        content: 'こんにちは!';
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0px;

    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%,
    100% {
        width: calc(100% + 8px);
    }
}

@media (max-width:1338px) {
    .portfolio .sf {
        font-size: 2rem;
    }
}

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }

    .skills-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }

    .skill-info h3 {
        font-size: 3rem;
    }

    .skill-box {
        height: 320px;
    }

    .portfolio .sf {
        font-size: 1.6rem;
    }

    .portfolio .esf {
        font-size: 1.2rem;
    }

    .education {
        width: auto;
    }
}

@media (max-width: 1088px) {
    .skill-box {
        height: 360px;
    }

    .portfolio p {
        font-size: 2.5rem;
    }

    .portfolio .esf {
        font-size: 1.3rem;
    }

    .underlogo {
        width: 60px;
        height: auto;
    }

    .logo-container {
        width: 80px;
        height: 55px;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }

    .skill-info h3 {
        font-size: 3rem;
    }
}

@media (max-width: 995px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        height: 80vw;
    }

    .grid-item {
        font-size: 1.2rem;
        height: 200px;
    }

    .grid-item a {
        font-size: 2rem;
        padding: 5px 10px;
        width: 100%;
        height: 100%;
    }

    .portfolio {
        height: 110vw;
    }

    .portfolio .esf {
        font-size: 2rem;
    }
}

@media (max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .timeline-bars::before {
        left: 7px;
    }

    .timeline-bar:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-bar:nth-child(odd),
    .timeline-bar:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }

    .skills {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }

    .skill-info h3 {
        font-size: 2rem;
        font-weight: 800;
        line-height: 2;
    }

}

@media (max-width: 895px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 36vw;
        margin-top: 4rem;
    }

    .timeline-content p {
        font-size: 1.6rem;
    }

    .skill-info h3 {
        font-size: 2rem;
    }

    .portfolio {
        height: 125vw;
    }

    .grid-container {
        height: 95vw;
    }
}

@media (max-width: 895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .heading {
        font-size: 5rem;
    }

    .home {
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 4rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 800px;
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .home-img {
        width: 36vw;
    }

    .skills h2 {
        margin-bottom: 3rem;
    }

    .skill-box {
        height: 500px;
    }

    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .HLA3 {
        font-size: 2rem;
    }

    .skill-info h3 {
        font-size: 2rem;
    }

    .footer {
        height: auto;
    }
}

@media (max-width: 768px) {
    .typing-text {
        font-size: 28px;
        min-height: 40px;
    }
}

@media (max-width: 735px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 36vw;
        margin-top: 4rem;
    }

    .timeline-content p {
        font-size: 1.6rem;
    }

    .skill-info h3 {
        font-size: 2rem;
    }

    .portfolio {
        height: auto;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        height: auto;
    }

    .grid-item a {
        font-size: 2rem;
        padding: 5px 10px;
        width: 100%;
        height: 100%;
    }

    .grid-item {
        height: auto;
    }

}

@media (max-width: 600px) {
    .portfolio {
        height: auto;
    }

    .grid-container {
        grid-template-columns: 1fr;
        padding: 10px;
        height: auto;
    }

    .grid-item {
        font-size: 1rem;
        height: auto;
    }

    .grid-item a {
        font-size: 1.5rem;
        padding: 5px 10px;
        width: 100%;
        height: auto;
    }

    span {
        font-size: 6rem;
        height: auto;
    }

    .tl {
        font-size: 2.5rem;
    }
}


@media (max-width: 385px) {
    .social-icon a {
        width: 50px;
        height: 50px;
    }

    .social-icon .none {
        padding-bottom: 12px;
    }

    .social-icon i {
        font-size: 25px;
    }

    .social-icon img {
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }

    .skill-box {
        height: 460px;
    }

    .skills h1 {
        font-size: 1.6rem;
    }

    .skills h2 {
        font-size: 1.8rem;
        font-weight: bolder;
    }

    .skills h3 {
        font-size: 2rem;
    }

    .portfolio .esf {
        font-size: 1.5rem;
    }

    .education {
        width: 120vw;
    }

    .timeline-content {
        width: auto;
        height: auto;
    }

    .etr {
        font-size: 2.5rem;
        width: 200px;
    }
}