#wrapper{
    width: 80%;
    margin: auto;
}
body{
    margin: 0px;
}
header{
    height: 100%;
    height: 100px;
    background-color: lightblue;
}  

nav{
    height: 100px;
    background-color: lightcoral;
}
section{
    width: 80%;
    background-color: lightgoldenrodyellow;
}
aside{
    width: 20%;

    background-color: black;
}
main{
    display: flex;
    flex-direction: row-reverse
}
footer{
    height: 100px;
    background-color: lightgray;
}


.sub-section{
    min-height: 305px;
    background-color: lightpink;
    margin: 10px;
    width: 98%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
figcaption{
    font-size: 1.5em;  
    text-align: center;                                     
}

   
